body {
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.div1 {
	margin-top: 60px;
	height: 100%;
}

.enumHeadPerson {
    font-weight: bold;
    font-family: cursive;
    color: orange;
}