body {
    margin-top: 100px;
    background: url("/web/images/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contactList {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    color: black;
}

*{margin: 0;padding: 0;
    }

/*.header{width: 100%;*/
/*    background-image: linear-gradient(to right, #d05e35, #dca07b);*/
/*    }*/

a:hover{font-weight: bold;
}

.elements-about-page {
	margin-top: 60px;
	height: 100%;
    text-align: center;
    /*align-items: center;*/
    /*justify-content: center;*/
    margin-top: 60px
}

ul{
    display: table;
    margin: auto;
    text-align: left;
}
.navbar-color {
    /*background-image: linear-gradient(to right, #0e52bb, #2b9aa8);*/
    background: #0e52bb;
}

.padding-link > a{
    padding-right: 30px;
    color: white;
}

.text-service{line-height: 8em; }



.my-footer {
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    width: 100%;
}


